<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
       
    </head>
    <body>
        <div th:text="${titulo}"></div>
        
        <div th:if="${personas != null and !personas.empty}">
            <table border="1" >
              <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Documento</th>
              </tr>
              <tr th:each="persona: ${personas}">
                  <td th:text="${persona.nombres}"></td>
                  <td th:text="${persona.apellidos}"></td>
                  <td th:text="${persona.documento}"></td>
              </tr>
            </table>
          </div>
          <div th:if="${personas == null or personas.empty}">
              La lista esta vacia
          </div>
    </body>
</html>
