<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
       
    </head>
    <body>
        <div th:text="${titulo}"></div>
        
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table border="1" >
              <tr>
                  <th>Usuario</th>
                  <th>Clave</th>
                  <th>Rol</th>
              </tr>
              <tr th:each="usuario: ${usuarios}">
                  <td th:text="${usuario.usuario}"></td>
                  <td th:text="${usuario.clave}"></td>
                  <td th:text="${usuario.rol}"></td>
              </tr>
            </table>
          </div>
          <div th:if="${usuarios == null or usuarios.empty}">
              La lista esta vacia
          </div>
    </body>
</html>
